In [1]:
#Import Required Libraries
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from matplotlib.colors import LogNorm 
from matplotlib import pyplot as plt
from matplotlib.pyplot import figure
from pandas import ExcelWriter
from pandas import ExcelFile
from sklearn.preprocessing import LabelEncoder
import glob
import pywt
import datetime
from scipy import signal
from IPython.display import HTML
from termcolor import colored
%matplotlib inline

In [2]:
#Import Required Libraries
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from matplotlib.pyplot import figure
from pandas import ExcelWriter
from pandas import ExcelFile
import glob
import pywt
from scipy import signal
from termcolor import colored
%matplotlib inline
import matplotlib.font_manager as fm
font = fm.FontProperties(fname='../input/korea-corona-case-to-211227/malgun.ttf')
# creating 3d plot using matplotlib 
# in python
  
# for creating a responsive plot
%matplotlib widget
  
# importing required libraries
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt

In [3]:
#Input After May moth data for predicting result
loan_result = pd.read_csv('df_2022_06.csv')
loan_result

,application_id,product_id,loanapply_insert_time,bank_id,loan_limit,loan_rate,user_id,birth_year,gender,insert_time,...,UseLoanManage,Login,EndLoanApply,OpenApp,ViewLoanApplyIntro,StartLoanApply,CompleteIDCertification,UsePrepayCalc,SignUp,UseDSRCalc
0,1894024,110,2022-06-13,33,17000000.0,12.6,11,1997.0,1.0,2022-06-13 21:44:30,...,9,0,7,5,5,4,4,1,0,0
1,1894024,265,2022-06-13,29,30000000.0,8.4,11,1997.0,1.0,2022-06-13 21:44:30,...,9,0,7,5,5,4,4,1,0,0
2,1894024,35,2022-06-13,12,5000000.0,18.9,11,1997.0,1.0,2022-06-13 21:44:30,...,9,0,7,5,5,4,4,1,0,0
3,1894024,75,2022-06-13,29,15000000.0,8.2,11,1997.0,1.0,2022-06-13 21:44:30,...,9,0,7,5,5,4,4,1,0,0
4,1894024,138,2022-06-13,47,36000000.0,13.8,11,1997.0,1.0,2022-06-13 21:44:30,...,9,0,7,5,5,4,4,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3411054,1055525,223,2022-06-27,38,15000000.0,18.4,879693,2001.0,0.0,2022-06-27 10:16:04,...,5,0,12,9,10,17,6,0,0,0
3411055,1055525,110,2022-06-27,33,11000000.0,17.9,879693,2001.0,0.0,2022-06-27 10:16:04,...,5,0,12,9,10,17,6,0,0,0
3411056,1055525,19,2022-06-27,17,20000000.0,16.5,879693,2001.0,0.0,2022-06-27 10:16:04,...,5,0,12,9,10,17,6,0,0,0
3411057,1229112,19,2022-06-14,17,15000000.0,19.3,879693,2001.0,0.0,2022-06-14 11:06:52,...,5,0,12,9,10,17,6,0,0,0
3411058,1229112,169,2022-06-14,25,29000000.0,19.9,879693,2001.0,0.0,2022-06-14 11:06:52,...,5,0,12,9,10,17,6,0,0,0

In [4]:
#Input result data
result = pd.read_csv('데이터분석분야_퓨처스부문_평가데이터.csv')
result = result[['application_id', 'product_id']]
result

         application_id  product_id
0                     4         220
1                     4         191
2                     8          29
3                     8         159
4                     8          85
...                 ...         ...
3255189         2167778         258
3255190         2167791          29
3255191         2167822         149
3255192         2167822         157
3255193         2167822          65

[3255194 rows x 2 columns]

In [5]:
#Marge features with result data
result_final_submit = pd.merge(result, loan_result, on=["application_id", "product_id"])
result_final_submit

,application_id,product_id,loanapply_insert_time,bank_id,loan_limit,loan_rate,user_id,birth_year,gender,insert_time,...,UseLoanManage,Login,EndLoanApply,OpenApp,ViewLoanApplyIntro,StartLoanApply,CompleteIDCertification,UsePrepayCalc,SignUp,UseDSRCalc
0,4,220,2022-06-20,7,10000000.0,11.4,209531,1978.0,0.0,2022-06-20 10:24:36,...,90,120,133,120,54,106,32,0,1,0
1,4,191,2022-06-20,7,26000000.0,11.4,209531,1978.0,0.0,2022-06-20 10:24:36,...,90,120,133,120,54,106,32,0,1,0
2,8,29,2022-06-02,35,5000000.0,14.5,675741,1983.0,1.0,2022-06-02 13:10:28,...,7,17,17,17,9,12,4,0,0,0
3,8,159,2022-06-02,55,5000000.0,19.9,675741,1983.0,1.0,2022-06-02 13:10:28,...,7,17,17,17,9,12,4,0,0,0
4,8,85,2022-06-02,30,13000000.0,15.9,675741,1983.0,1.0,2022-06-02 13:10:28,...,7,17,17,17,9,12,4,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3161601,2167778,258,2022-06-21,42,3000000.0,14.4,340207,1989.0,1.0,2022-06-21 22:27:43,...,14,57,128,58,58,67,44,0,0,0
3161602,2167791,29,2022-06-24,35,5000000.0,12.8,485732,1971.0,1.0,2022-06-24 12:12:41,...,5,11,18,15,16,10,10,0,0,0
3161603,2167822,149,2022-06-29,10,10000000.0,15.6,105164,1996.0,1.0,2022-06-29 14:08:34,...,0,0,2,3,3,6,3,0,0,0
3161604,2167822,157,2022-06-29,36,11000000.0,18.3,105164,1996.0,1.0,2022-06-29 14:08:34,...,0,0,2,3,3,6,3,0,0,0
3161605,2167822,65,2022-06-29,10,11000000.0,15.6,105164,1996.0,1.0,2022-06-29 14:08:34,...,0,0,2,3,3,6,3,0,0,0

In [6]:
#result_final_submit.to_csv('result_final_submit.csv', index=False)

In [7]:
#Feature selection
col = ['bank_id', 'product_id', 'loan_limit', 'loan_rate', 'birth_year',
       'gender', 'credit_score', 'yearly_income', 'income_type_labeled',
       'employment_type_labeled', 'houseown_type_labeled', 'purpose_labeled',
       'desired_amount', 'personal_rehabilitation_yn',
       'personal_rehabilitation_complete_yn', 'existing_loan_cnt',
       'existing_loan_amt', 'GetCreditInfo', 'UseLoanManage', 'Login',
       'EndLoanApply', 'OpenApp', 'ViewLoanApplyIntro', 'StartLoanApply',
       'CompleteIDCertification', 'UsePrepayCalc', 'SignUp', 'UseDSRCalc']

In [8]:
result_final_submit_scale = result_final_submit[col]

In [9]:
#Data Scaling
scaler = MinMaxScaler(feature_range=(0, 1))
result_final_submit_scale = scaler.fit_transform(result_final_submit_scale)

In [10]:
#Input selection
result_final_submit_scale = result_final_submit_scale[:, :28]

In [11]:
#Resize data
result_final_submit_scale_input = np.reshape(result_final_submit_scale, (result_final_submit_scale.shape[0], 1, 28, 1))

In [12]:
#Input trained model
from keras.models import load_model

# returns a compiled model
# identical to the previous one
model_1 = load_model('Final_Project_CNN_1.h5')
model_2 = load_model('Final_Project_CNN_2.h5')
model_3 = load_model('Final_Project_CNN_3.h5')

In [19]:
#Join all model
from keras.models import Sequential
import tensorflow as tf
from tensorflow.keras.models import Model
m1 = load_model('Final_Project_CNN_1.h5')
m1._name = 'test1'
m2 = load_model('Final_Project_CNN_2.h5')
m2._name = 'test2'
m3 = load_model('Final_Project_CNN_3.h5')
m3._name = 'test3'
commonInput = tf.keras.Input(shape=(1, 28, 1))
out1 = m1(commonInput)
out2 = m2(commonInput)
out3 = m2(commonInput)
merged = tf.keras.layers.Add()([out1,out2,out3])
newModel = Model(commonInput, merged)

In [21]:
#Prediction
pro_result = newModel.predict(result_final_submit_scale_input)

In [24]:
#Convert categorical prediction to result format
pro_result = pd.DataFrame(np.argmax(pro_result, axis=1).astype(int), columns=['is_applied'])

In [25]:
#Joind the result with feature
Final_output = pd.concat([result_final_submit, pro_result], axis = 1)
Final_output

,application_id,product_id,loanapply_insert_time,bank_id,loan_limit,loan_rate,user_id,birth_year,gender,insert_time,...,Login,EndLoanApply,OpenApp,ViewLoanApplyIntro,StartLoanApply,CompleteIDCertification,UsePrepayCalc,SignUp,UseDSRCalc,is_applied
0,4,220,2022-06-20,7,10000000.0,11.4,209531,1978.0,0.0,2022-06-20 10:24:36,...,120,133,120,54,106,32,0,1,0,0
1,4,191,2022-06-20,7,26000000.0,11.4,209531,1978.0,0.0,2022-06-20 10:24:36,...,120,133,120,54,106,32,0,1,0,0
2,8,29,2022-06-02,35,5000000.0,14.5,675741,1983.0,1.0,2022-06-02 13:10:28,...,17,17,17,9,12,4,0,0,0,1
3,8,159,2022-06-02,55,5000000.0,19.9,675741,1983.0,1.0,2022-06-02 13:10:28,...,17,17,17,9,12,4,0,0,0,1
4,8,85,2022-06-02,30,13000000.0,15.9,675741,1983.0,1.0,2022-06-02 13:10:28,...,17,17,17,9,12,4,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3161601,2167778,258,2022-06-21,42,3000000.0,14.4,340207,1989.0,1.0,2022-06-21 22:27:43,...,57,128,58,58,67,44,0,0,0,1
3161602,2167791,29,2022-06-24,35,5000000.0,12.8,485732,1971.0,1.0,2022-06-24 12:12:41,...,11,18,15,16,10,10,0,0,0,0
3161603,2167822,149,2022-06-29,10,10000000.0,15.6,105164,1996.0,1.0,2022-06-29 14:08:34,...,0,2,3,3,6,3,0,0,0,1
3161604,2167822,157,2022-06-29,36,11000000.0,18.3,105164,1996.0,1.0,2022-06-29 14:08:34,...,0,2,3,3,6,3,0,0,0,1
3161605,2167822,65,2022-06-29,10,11000000.0,15.6,105164,1996.0,1.0,2022-06-29 14:08:34,...,0,2,3,3,6,3,0,0,0,1

In [29]:
#Final result
Final_output[['application_id', 'product_id','is_applied']]

         application_id  product_id  is_applied
0                     4         220           0
1                     4         191           0
2                     8          29           1
3                     8         159           1
4                     8          85           1
...                 ...         ...         ...
3161601         2167778         258           1
3161602         2167791          29           0
3161603         2167822         149           1
3161604         2167822         157           1
3161605         2167822          65           1

[3161606 rows x 3 columns]

In [28]:
#Final_output[['application_id', 'product_id','is_applied']].to_csv('Final_output.csv', index=False)